body {
	margin: 0 auto;
	padding: 0;
	background-color: yellow;
}
* {
	box-sizing: border-box;
}
#carousel {
	width: 800px;
	height: 400px;
	margin: 0 auto;	
	overflow: hidden;   
	border: 2px solid #fff;
	position: relative;
}
#carousel img {
	width: 800px;
    height: 100%;
}
ul li {
	width: 800px;
    height: 100%;
    float: left;
    position: relative;

}
ul {
	height: 400px;
	width: 4000px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li p {
	position: absolute;
	top: 0;
	bottom: 0;	
	right: 600px;
	text-align: right;
	font-size: 20px;
	padding: 20px;
	background-color:rgba(255,255,255,0.8);
	margin: 0px;
}
.arrows  {
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	display: flex;
	text-shadow: 2px 2px 2px #000000;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fa {
    font-size: 40px;
    color: #ebebe0;
}